<%= form_with model: article do |form| %>
  <div>
    <b><%= form.label :title %></b><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <br>

  <div>
    <b><%= form.label :body %></b><br>
    <%= form.text_area :body %>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div><br>
    <%= form.submit %>
  </div>
<% end %>